numpy
scipy
pandas
tqdm
click
ipython
matplotlib
ipympl # interactive matplotlib plots
seaborn
sklearn
scikit-learn
transformers
sentencepiece
tensorboard

torch

black
gdown
jupyterlab
pytest
pytest-cov
tox
pre_commit
nbdime
nbstripout
sphinx
recommonmark